.root {
    -fx-background-color: #1E2A39;
    -fx-font-family: helvetica;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

/******* LEFT PANEL ********/


.button-month{
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 30;
}

.button-month.pressed{
    -fx-background-color: #1e2a39;
    -fx-background-radius: 30;
}

.label-left-panel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
}


.text-field-planner{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 15;
}



.button-left-panel{
    -fx-background-color: #d9d9d9;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #1e2a39;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
}

.button-left-panel.pressed{
    -fx-background-color: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
}

/******* CALENDAR *****/


.button-calendar{
    -fx-background-color: #bbbbbb;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #000;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
}
.button-calendar.even{
    -fx-background-color: #9f9f9f;
}

.button-calendar.pressed{
    -fx-background-color: #485a70;
    -fx-text-fill: #ffffff;
}


.button-calendar-filter{
    -fx-background-color: #fff;
    -fx-background-radius: 30;
}


/******* EVENTS *****/

.button-my_events{
    -fx-background-color: green;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 8;
}
.button-my_events._1{
    -fx-background-color: #ff0000;
}
.button-my_events._2{
    -fx-background-color: #ff7f00;
}
.button-my_events._3{
    -fx-text-fill: #000;
    -fx-background-color: #ffff00;
}
.button-my_events._4{
    -fx-background-color: #00ff00;
    -fx-text-fill: #000;
}
.button-my_events._5{
    -fx-background-color: #00ffff;
    -fx-text-fill: #000;
}
.button-my_events._6{
    -fx-background-color: #0000ff;
}
.button-my_events._7{
    -fx-background-color: #8b00ff;
    -fx-text-fill: #000;
}
.button-my_events._8{
    -fx-background-color: #ff00ff;
    -fx-text-fill: #000;
}

.filter-active{
    -fx-background-color: #9f9f9f;
}
.BUTTON-filter-active{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #000!important;
}
.LABEL-filter-active{
    -fx-text-fill: #000!important;
    -fx-font-size: 20px!important;
    -fx-font-weight: bold!important;
}
.label{
}


/******** MENU **********/

.button-menu {
    -fx-background-color: #d9d9d9;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #1e2a39;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
}
.button-menu:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #466285;
    -fx-transition: all 0.5s ease;
}

.button-menu:hover .button-menu-image {
    -fx-fill: #ffffff;
    -fx-transition: all 0.5s ease;
    -fx-opacity: 0.2;
}

.button-menu.pressed {
    -fx-background-color: #1e2a39;
    -fx-text-fill: #ffffff;
    -fx-transition: all 0.5s ease;
    -fx-border-width: 0;
}
.menu-separator {
    -fx-background-color: #1e2a39;
    -fx-outer-border: transparent;
}