.root{
    -fx-background-color: #1E2A39;
    -fx-font-family: helvetica;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0em ;
}


/************************  MENU BAR ***************************/
.menu-bar-{
    -fx-background-color: #d9d9d9;
    -fx-padding: 0;
}

.menu-separator{
    -fx-background-color: #1e2a39;
    -fx-outer-border: transparent;
    -fx-padding: 0;
}


.menu-button{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}
.menu-button:hover {
    -fx-background-color: #466285;
    -fx-text-fill: #ffffff;
}
.menu-button.pressed {
    -fx-background-color: #1e2a39;
    -fx-text-fill: #ffffff;
}



/************************  LOGIN PAGE ***************************/
.login-button{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 5;
    -fx-padding: 0;
}
.login-button.next:hover{
    -fx-background-color: green;
    -fx-text-fill: #fff;
}
.login-button.back:hover{
    -fx-background-color: darkred;
    -fx-text-fill: #fff;
}
.login-button.next.pressed{
    -fx-background-color: green;
    -fx-text-fill: #fff;
}
.login-button.back.pressed{
    -fx-background-color: darkred;
    -fx-text-fill: #fff;
}
.login-label{
    -fx-text-fill: #fff;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
.login-text-field{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 5;
}




/************************  SIDE - Menu Bar ***************************/