.root {
    -fx-background-color: #1E2A39;
    -fx-font-family: helvetica;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
.text-dummy{
    -fx-fill: #ffffff!important;
    -fx-font-size: 15px;
}
.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
}

.text-field{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #1e2a39;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 15;
}
.hbox {
    -fx-background-color: #d9d9d9;
    -fx-padding: 0;
}

.menu-bar{
    -fx-background-color: #d9d9d9;
    -fx-padding: 0;
}

/******** az sem NEFUNGUJE *******/
.button {
    -fx-background-color: #d9d9d9;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #1e2a39;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #466285;
    -fx-transition: all 0.5s ease;
}

.button:hover .button-image {
    -fx-fill: #ffffff;
    -fx-transition: all 0.5s ease;
    -fx-opacity: 0.2;
}

.button.pressed {
    -fx-background-color: #1e2a39;
    -fx-text-fill: #ffffff;
    -fx-transition: all 0.5s ease;
    -fx-border-width: 0;
}
.menu-separator {
    -fx-background-color: #1e2a39;
    -fx-outer-border: transparent;
}
/*
.green{
    -fx-background-color: green!important;
    -fx-tex
}
*/

._8{
    -fx-fill: #8f268f;
    -fx-background-color: #8f268f;
    -fx-text-fill: #000;
}
._9{
    -fx-fill: green;
    -fx-background-color: green;
    -fx-text-fill: #000;
}

.logout-dummy{
    -fx-background-color: #b21f1f;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.save-dummy{
    -fx-background-color: #45bd28;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.menu-button.label {
    -fx-background-color: black;
    fx-text-fill: black;
}
.rounded-button{
    -fx-background-radius: 50;
}
.day-night{
    -fx-background-color: #fff;
}
.admin-panel{
    -fx-background-color: #7a7b80;
}
.admin-panel-button{
    -fx-background-color: #7a7b80;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: #fff;
}
.button-admin{
    -fx-background-color: #d9d9d9;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #1e2a39;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 7;
}
.button-admin.events{
    -fx-background-color: #d59797;
}
.button-admin.users{
    -fx-background-color: #8da5d7;
}
.button-admin.inactive{
     -fx-background-color: grey;
}
.button-admin.edit{
    -fx-background-color: darkgrey;
    -fx-text-fill: #fff;
}
.admin-event-list{
    -fx-background-color: grey;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: #1e2a39;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 7;
}
.notif{

}
.notif.notification{
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-font-weight: normal ;
}
.notif.event{
    -fx-font-size: 15px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}
.notif.desc{
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-font-weight: normal;
}
.notif.time{
    -fx-font-size: 20px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}
.notif.button-notif{
    -fx-background-color: green;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-outer-border: transparent;
    -fx-background-radius: 8;
}
